/***************************************************
    - racourci code syntac cut past
***************************************************/

/*  animation: <name> <duration> <timing-function> <delay> <iteration-count> <direction> <fill-mode>;*/
/*
	-webkit-
	-moz-
	-ms-
	-o-
*/

html{
  width: auto;
  height: auto;
}

body {
  width: auto;
  height: auto;
  font-family: 'Muli', sans-serif;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/***************************************************
    - Globals
***************************************************/

h2{
  text-align: left;
  padding-bottom: 15px;
  border-bottom: 2px solid #ff0062;
  display: inline-block;
  font-size: 27px;
}

.container{
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.starter-template {
  padding: 20px 0;
  text-align: center;
}

.fullpage{
  min-height: 100vh;
  width: 100%;
}
.relative{
  position: relative;
}

/***************************************************
    - Loading Screen
***************************************************/
.display-loading-screen{
  -webkit-transition: all 2.5s ;
  -moz-transition: all 2.5s ;
  -ms-transition: all 2.5s ;
  -o-transition: all 2.5s ;
  transition: all 2.5s ;
  display: none !important;
}

#loading-screen{
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 01px;
  height: 101vh;
  display: block;
  z-index: 13;
  background-image: url(../img/loading-background.jpg) ;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.52);
  background-size: cover;
  background-position: 50% 50%;
  background-origin: content-box;

  -webkit-animation: welcome 10s ease-in-out 1s 1 normal forwards;
  -moz-animation: welcome 8s ease-in-out 1s 1 normal forwards;
  -ms-animation: welcome 8s ease-in-out 1s 1 normal forwards;
  -o-animation: welcome 10s ease-in-out 1s 1 normal forwards;
  animation: welcome 10s ease-in-out 1s 1 normal forwards;
}

  @keyframes welcome{
  0%{
    z-index: 12;
  }

  30%{
    position: absolute;

  }


  50%{
    transition:all 9.9s ease-in-out;
    z-index: 12;
    height: 101vh;

  }
    80%{
      transition:all 9.9s ease-in-out;
      opacity: 1;

    }




  100%{
    transition: 12.5s ease-in-out;
    display: inline-block;
    height: 0vh;
    opacity: 0;
  }
}
#loading-container{
  position: absolute;
  height: 100%;
}

#pr-img-title{
  text-align: center;
  display: block;
  padding-top: 5vh;
  vertical-align: middle;

  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

#img-title{
  display: inline-block;
  width: 85vh;

  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

#pr-img-animate{
  display: block;
  text-align: center;

  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  -webkit-animation:  drag 4s ease-in-out 2s 1 normal both;
  -moz-animation:  drag 4s ease-in-out 2s 1 normal both;
  -ms-animation:  drag 4s ease-in-out 2s 1 normal both;
  -o-animation:  drag 4s ease-in-out 2s 1 normal both;
  animation:  drag 4s ease-in-out 2s 1 normal both;

}

@keyframes drag{
	0%{
    transition: 1.5s ease-in-out;
    margin-left: initial;
	}

	30%{
    transition: 1.5 s ease-in-out;
    margin-left: 41%;
	}

	60%{
    transition: 1.5s ease-in-out;
    margin-left: -60%;
	}

	70%{
    transition: 2.9s ease-in-out;
    margin-left: 32%;
	}

	80%{
    transition: 1.9s ease-in-out;
    margin-left: -23%;
	}
  	90%{
      transition: 1.9s ease-in-out;
      margin-left: 5%;
  	}

	100%{
    transition: 2.5s ease-in-out;
    margin-left: initiale;
	}
}

#img-animate{
-webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50% 50%;
-ms-transform-origin: 50% 50%;
-o-transform-origin: 50% 50%;
transform-origin: 50% 50%;
display: inline-block;
height: auto;
min-width: 80px;
height: 50vh;
}

/***************************************************
    - Slider Video
***************************************************/

#instructions{
  position: relative;
  text-align: center;
  color: #bbb;
  font-size: 24px;
  text-transform: uppercase;
  z-index: 100;
  word-spacing: 25px;
  top: -100px;
  left: 50%;
  -ms-transform:translate(-50%,0%);
  -webkit-transform:translate(-50%,0%);
  -moz-transform:translate(-50%,0%);
  -o-transform:translate(-50%,0%);
  transform:translate(-50%,0%);

  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

#instructions p{
  display: inline-block;
  margin: 0;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

#instructions p .interlettrage{
  letter-spacing: 2px;
}

.video-container{
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  max-width: 100%;
}

.video-wrapper {
  position: absolute;
  height: 100%;
  overflow: hidden;
}

.video-wrapper:nth-of-type(2),
.video-wrapper:nth-of-type(3){
  width: 50%;
  border-right: 2px solid white;
}

.video-wrapper:nth-of-type(3){
  top: 0px;
  right: 0px;
  z-index: -3;
  border-left: 2px solid white;
  border-right: 0px;
}

.video-wrapper video{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}

.video-wrapper #video1{
  top: 0px;
  left: 50%;
  -ms-transform:translate(-50%,0%);
  -webkit-transform:translate(-50%,0%);
  -moz-transform:translate(-50%,0%);
  -o-transform:translate(-50%,0%);
  transform:translate(-50%,0%);
}

.video-wrapper #video2{
  left: 50%;
  -ms-transform:translate(-50%,0%);
  -webkit-transform:translate(-50%,0%);
  -moz-transform:translate(-50%,0%);
  -o-transform:translate(-50%,0%);
  transform:translate(-50%,0%);
}

#btn-drag{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid white;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}
/*
.pulse{
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

  text-align: center;
  /*
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
<<<<<<< Updated upstream
  transform:translate(-50%,-50%);
}
=======
  transform:translate(-50%,-50%);*/
/*}
>>>>>>> Stashed changes

.pulse{
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);}}
<<<<<<< Updated upstream
@keyframes pulse {to {box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);}}*/


#nav-control{
  display: block;
  position: absolute;
  margin: auto;
  background-color: rgba(0,0, 0, 0.0);
  height: 40px;
  width: 100%;
  bottom: 0%;
  vertical-align: middle;
  line-height: normal;
  text-align: center;
}

#NavBtn{
  display: inline-block;
  height: 90%;
  width: 100%;
  margin: 2px;
  background-color: rgba(0,0,0, 0.0);
  line-height: 2.4em;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
}

.control-btn{
  width: 30px;
  height: 30px;
  margin:2px;
  border:0px;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: inherit;
  display: none;
  outline: none;
}

#play{
  display:block;
  border-radius: 50%;
  margin:35% auto 0;
  vertical-align: middle;
  text-align: center;
}

#mute{
  display: inline-block;
  float: right;
  margin-right: 5px;
}

#time {
  width:85%;
  background-color: rgba(255,255, 255, 0.5);
  border:1px solid black;
  height:90%;
  display: none;
  line-height: 1.9;
  vertical-align: middle;
  text-align: left;
}

#progress{
  background-image:url("../img/shaded-green.png");
  height:25px;
  width: 0.01%;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
}

#progressnum{
  display: inline-block;
  width: 80px;
  height: 30px;
  vertical-align: middle;
  background-color: rgba(255, 0, 98, 0.5);
  float: right;
  margin:2px 5px;
  line-height: 30px;
}

#vlen{
  display: none;
}

/***************************************************
    - Slider
***************************************************/

img{
  width: 100%;
}

.photo-miniature{
  cursor: pointer;
}

.photo-miniature{

}

/***************************************************
    - Footer
***************************************************/

footer{
  height: 50px;
  background-color: #212121;
}

footer p{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
}

footer p:nth-of-type(2){

}

/***************************************************
    - Mentions Légales
***************************************************/

.mentions-legales{
  display: none;
  position: fixed;
  background-color: #000;
  opacity: .92;
  z-index: 1000;
  top: 0;
  left: 0;
  padding: 10% 0;
  /*/*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}

.mentions-legales h2{
  color: #bbb;
  margin-bottom: 5%;
}

#mentions-legales-link{
  display: inline-block;
  color: #337ab7;
  text-decoration: none;
}

#mentions-legales-link:hover,
#mentions-legales-link:focus{
  color: #23527c;
  text-decoration: underline;
  cursor: pointer;
}

.mentions-legales p{
  color: #bbb;
  font-size: 16px;
}

.close{
  position: absolute;
  font-size: 30px;
  top: 5%;
  right: 5%;
}
